.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.wrapperBox {
  display: flex;
  padding-bottom: 20px;
}
.layout {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
