/* button */
.button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  background-color: #525ccf;
  border: 1px solid #525ccf;
}
.button:hover {
  color: #525ccf;
  box-shadow: 1px 1px 5px gray;
  background-color: white;
}
.buttonSize {
  height: 48px;
  font-size: 14px;
  margin-top: 8px;
  /* h-12 text-sm mt-2 rounded-2xl */
}

/* circle */
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s;
}
.circle:hover {
  box-shadow: 1px 1px 5px gray;
}
.circleImg {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* icon */
.icon {
  padding: 4px;
  border-radius: 50%;
  transition: 0.5s;
}
.icon:hover {
  color: white;
  background-color: #aaadb6;
}

/* link */
.link {
    color: #525ccf;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: 0.5s;
}
.line:hover {
    text-decoration: underline;
}